@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #cad6c6;
  overflow-x: hidden;
}
